<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="cabecalhos_MasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/views/css/menu.css" />
    <link rel="stylesheet" type="text/css" href="~/views/css/paginas.css" />
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div class="topo">
        <div class="nome">
            <p>Tudo e Mais Um Pouco</p>
        </div>

        <div class="menuBotoes">
            <asp:Button ID="btnClientes" runat="server" CssClass="botaoMenu" Text="Ver clientes" Visible="false" OnClick="btnClientes_Click"/>
            <asp:Button ID="btnMeusProdutos" runat="server" CssClass="botaoMenu" Text="Meus Produtos" Visible="false" OnClick="btnMeusProdutos_Click"/>
            <asp:Button ID="btnPedidos" runat="server" CssClass="botaoMenu" Text="Meus pedidos" Visible="false" OnClick="btnPedidos_Click"/>
            <asp:Button ID="btnCatalogo" runat="server" CssClass="botaoMenu" Text="Catalogo" Visible="false" OnClick="btnCatalogo_Click"/>
            <asp:Button ID="btnPlanos" runat="server" CssClass="botaoMenu" Text="Planos" OnClick="btnPlanos_Click"/>
            <asp:Button ID="btnSobre" runat="server" CssClass="botaoMenu" Text="Sobre nós" OnClick="btnSobre_Click"/>
            <asp:Button ID="btnContato" runat="server" CssClass="botaoMenu" Text="Entre em contato" OnClick="btnContato_Click"/>
            <asp:Button ID="btnSair" runat="server" CssClass="botaoMenu sair" Text="Sair" OnClick="btnSair_Click" />
        </div>
    </div>

    <div class="conteudoPagina">
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
